body {
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}

p {
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER STARST */
header {
  width: 100%;
  padding-bottom: 8%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.5))), url(../images/banner01.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.5) 100%), url(../images/banner01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

header #mynavigation {
  background: none;
  border: 0;
}

header #mynavigation .navbar-header {
  float: none;
}

header #mynavigation .navbar-toggle {
  display: block;
  margin-right: 47%;
}

header #mynavigation .navbar-toggle .iconbar-mid .icon-bar {
  background-color: #fff;
}

header #mynavigation .navbar-toggle:hover {
  background: none;
  cursor: pointer;
}

header #mynavigation ul li a {
  color: #fff;
  letter-spacing: 1px;
  margin-left: -8px;
  font-size: 15px;
}

header #mynavigation .navbar-right {
  color: #fff;
  float: left !important;
  margin-left: 30%;
  font-weight: 200;
  font-family: Arial, sans-serif;
}

header .logo {
  color: #fff;
  padding: 1px;
}

header .logo h2 {
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  font-size: 37px;
  margin-top: 3%;
  margin-bottom: 0;
}

header .logo h1 {
  font-family: 'Sancreek', cursive;
  font-size: 40px;
  margin-top: 0;
}

header .logo h4 {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

header .logo h6 {
  font-size: 15px;
  font-weight: bold;
}

header .banner {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  margin-top: 7%;
}

header .banner h1 {
  font-size: 42px;
  font-weight: bold;
}

/* HEADER ENDS */
.big-wrapper {
  width: 100%;
  background-color: #fff;
}

.big-wrapper .top-box {
  width: 100%;
  text-align: center;
  padding: 7% 0;
  font-size: 28px;
}

.big-wrapper .top-box span {
  font-style: italic;
  font-weight: bold;
}

.big-wrapper .center-box {
  width: 100%;
}

.big-wrapper .center-box .image img {
  width: 100%;
}

.big-wrapper .center-box .demo {
  width: 100%;
  text-align: center;
  padding: 30% 0 0 0;
}

.big-wrapper .center-box .demo h5 {
  letter-spacing: 4px;
}

.big-wrapper .center-box .demo h3 {
  margin-top: 15% 5% 0 0;
}

.big-wrapper .center-box .demo p {
  color: gray;
  margin: 5% 0;
  font-weight: 100;
}

.text-wrapper {
  width: 100%;
  background-color: #fff;
  padding: 5% 0;
}

.text-wrapper .text {
  width: 100%;
}

.text-wrapper h5 {
  color: gray;
  letter-spacing: 3px;
  margin-top: 3px;
  margin-bottom: 4%;
}

.text-wrapper h2 {
  font-weight: bold;
  margin-bottom: 3%;
}

.text-wrapper h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}

.text-wrapper p {
  color: gray;
  font-weight: 100;
}

.text-wrapper .btn {
  background: none;
  color: #000;
  font-weight: 600;
  border: 2px solid black;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

.text-wrapper .btn :hover {
  background: none !important;
}

/* MID-WRAPPER STARTS */
.mid-wrapper {
  width: 100%;
  background-image: url(../images/pic05.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 50px  0;
  padding: 10% 0 0 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.mid-wrapper .first-mid, .mid-wrapper .second-mid {
  width: 100%;
  background-color: #fff;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 20%;
  margin-bottom: 0;
  text-align: center;
  padding-bottom: 5%;
}

.mid-wrapper .first-mid .m-box, .mid-wrapper .second-mid .m-box {
  width: 100%;
}

.mid-wrapper .first-mid h5, .mid-wrapper .second-mid h5 {
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.mid-wrapper .first-mid h2, .mid-wrapper .second-mid h2 {
  font-weight: 600;
  margin-top: 10px;
}

.mid-wrapper .first-mid h6, .mid-wrapper .second-mid h6 {
  font-weight: 600;
  margin-top: 8%;
}

.mid-wrapper .first-mid p, .mid-wrapper .second-mid p {
  font-weight: 100;
  color: #666666;
}

.mid-wrapper .second-mid {
  padding: 0;
  margin-bottom: 0;
  margin-top: 7%;
}

/* MID-WRAPPER ENDS */
/* IMAGE-WRAPPER STARTS */
.image-wrapper {
  width: 100%;
  background-color: bisque;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-wrapper .first-img {
  width: 50%;
}

.image-wrapper .second-img {
  width: 50%;
}

.image-wrapper .second-img .bottom-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-wrapper .second-img .bottom-img img {
  width: 50%;
}

/* IMAGE-WRAPPER ENDS */
/* MAIN-WRAPPER STARTS */
.main-wrapper {
  width: 100%;
  padding-top: 5%;
}

.main-wrapper img {
  width: 50%;
  margin: 0 auto;
}

.main-wrapper h1 {
  font-weight: bold;
}

.main-wrapper h4 {
  font-weight: 100;
  letter-spacing: 3px;
}

.main-wrapper .black-box {
  color: #fff;
  background-color: black;
  padding: 35% 0;
  border-radius: 100%;
}

.main-wrapper .black-box h4 {
  letter-spacing: 2px;
  font-weight: 100;
}

/* MAIN-WRAPPER ENDS */
/* FORM-WRAPPER STARTS */
.form-wrapper {
  margin-top: 5%;
}

.form-wrapper h6 {
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.form-wrapper h2 {
  font-weight: bold;
  margin: 1% 0 3% 0;
}

.formapply {
  width: 70%;
  margin: 0 auto;
  padding-top: 0;
}

.formapply .form-group input {
  width: 85%;
  margin: 0 auto;
}

.formapply .form-check label {
  font-weight: 100;
  width: 70%;
  margin-left: 8%;
}

.formapply .form-check label span {
  color: #3199fa;
}

.formapply .form-btn {
  width: 20%;
  margin: 0 auto;
  margin-top: 5%;
}

.formapply .form-btn .btn {
  border: 2px solid #000;
  background: 0;
  color: black;
  font-weight: 700;
  border-radius: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* FORM-WRAPPER ENDS */
/* FOOTER STARTS */
footer {
  width: 100%;
  background-color: black;
  color: #fff;
  padding: 5% 0;
  margin-top: 3%;
}

footer span {
  color: #00ccff;
}

footer p h6 {
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}

footer h6 {
  letter-spacing: 1px;
  margin-top: 35px;
  font-size: 15px;
}

/* FOOTER ENDS */
/* MEDIA-QUERY STARST */
@media only screen and (max-width: 765px) {
  header #mynavigation .navbar-right {
    margin-left: 0;
  }
  .banner h1 br {
    display: none;
  }
  .banner p {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 30px;
  }
  .big-wrapper .top-box h2 {
    font-size: 26px;
  }
  .big-wrapper .center-box .image {
    width: 70%;
    margin: 0 auto;
  }
  .big-wrapper .center-box .demo {
    width: 70%;
    padding: 2%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid #dbdbdb;
  }
  .text-wrapper {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #dbdbdb;
    padding: 3% 2%;
    margin-top: 5%;
  }
  .mid-wrapper {
    margin-bottom: 10px;
  }
  .mid-wrapper .first-mid {
    width: 90%;
    margin: 0 auto;
    padding: 6% 0;
  }
  .mid-wrapper .first-mid .m-box {
    width: 85%;
    margin: 0 auto;
    margin-top: 5%;
    border: 1px solid #dbdbdb;
    padding: 2% 2% 5% 2%;
    padding-top: 0;
  }
  .mid-wrapper .second-mid {
    width: 90%;
    margin: 0 auto;
    padding: 6% 0;
    margin-top: 3%;
  }
  .mid-wrapper .second-mid .m-box {
    width: 85%;
    margin: 0 auto;
    margin-top: 5%;
    border: 1px solid #dbdbdb;
    padding: 2% 2% 5% 2%;
    padding-top: 0;
  }
  .main-wrapper {
    width: 80%;
    margin: 0 auto;
  }
  .main-wrapper .first-main {
    width: 70%;
    margin: 0 auto;
    padding: 3% 0;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
  }
  .main-wrapper .first-main img {
    width: 50%;
  }
  .main-wrapper .black-box {
    width: 40%;
    margin: 0 auto;
    padding: 15% 0;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
  }
  .form-wrapper {
    margin: 8% 0;
  }
}

/* MAX-WIDTH : 550PX; */
@media only screen and (max-width: 550px) {
  header .logo h2 {
    font-size: 30px;
  }
  header .logo h1 {
    font-size: 36px;
  }
  header .logo h4 {
    font-size: 18px;
  }
  header .banner h1 {
    font-size: 33px;
  }
  header .banner p {
    font-size: 15px;
    margin-top: 15px;
  }
  .big-wrapper .top-box h2 {
    font-size: 22px;
    line-height: 28px;
  }
  .big-wrapper .center-box .image {
    width: 55%;
    margin: 0 auto;
  }
  .big-wrapper .center-box .demo {
    width: 55%;
  }
  .big-wrapper .center-box .demo h5 {
    font-size: 12px;
  }
  .big-wrapper .center-box .demo h3 {
    font-size: 22px;
  }
  .big-wrapper .center-box .demo p {
    font-size: 15px;
    margin: 10px  0;
  }
  .big-wrapper .center-box .demo .link {
    font-size: 12px;
  }
  .text-wrapper {
    width: 70%;
  }
  .text-wrapper h5 {
    font-size: 12px;
  }
  .text-wrapper h2 {
    font-size: 25px;
  }
  .text-wrapper h3 {
    font-size: 22px;
  }
  .text-wrapper p {
    font-size: 15px;
    line-height: 18px;
    margin-top: 15px;
  }
  .text-wrapper .btn {
    font-size: 12px;
  }
  .mid-wrapper .first-mid h5, .mid-wrapper .second-mid h5 {
    font-size: 13px;
  }
  .mid-wrapper .first-mid h6, .mid-wrapper .second-mid h6 {
    font-size: 12px;
  }
  .mid-wrapper .first-mid p, .mid-wrapper .second-mid p {
    font-size: 15px;
  }
  .main-wrapper .first-main {
    width: 60%;
  }
  .main-wrapper .first-main .black-box {
    width: 62%;
    border-radius: 100%;
  }
  .main-wrapper .first-main .black-box h4 {
    font-size: 14px;
    line-height: 18px;
  }
  .form-wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 3%;
  }
  .form-wrapper h2 {
    font-size: 25px;
  }
  .form-wrapper h6 {
    font-size: 11px;
  }
  .form-wrapper .formapply .form-btn .btn {
    font-size: 13px;
    font-weight: 500;
    border: 1px solid black;
  }
  .form-wrapper .formapply .form-check label {
    width: 100% !important;
  }
  footer p {
    font-size: 15px;
    font-weight: 100;
  }
  footer h6 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 420px) {
  body p {
    font-size: 14px !important;
  }
  header #mynavigation .navbar-toggle {
    margin-right: 43%;
  }
  header .logo h1 {
    margin-bottom: 20px;
  }
  header .banner {
    width: 85%;
  }
  header .banner h1 {
    font-size: 27px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 35px 0;
  }
  header .banner p {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 16px;
  }
  .big-wrapper .top-box h5 {
    font-size: 13px;
    letter-spacing: 2px;
    word-spacing: 1px;
  }
  .big-wrapper .top-box h2 {
    font-size: 21px;
    line-height: 24px;
  }
  .big-wrapper .center-box .image {
    width: 80%;
    border: 1px solid gray;
    -webkit-box-shadow: 1px 1px 20px #999999;
            box-shadow: 1px 1px 20px #999999;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .big-wrapper .center-box .image img {
    width: 90%;
    padding: 10% 0 10% 11%;
  }
  .big-wrapper .center-box .demo {
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .big-wrapper .center-box .demo h5 {
    letter-spacing: 3px;
  }
  .big-wrapper .center-box .demo p {
    margin: 25px 0;
  }
  .text-wrapper {
    width: 73%;
  }
  .text-wrapper h2 {
    font-size: 22px;
  }
  .text-wrapper p {
    letter-spacing: 1px;
    line-height: 17px;
  }
  .mid-wrapper .first-mid h2, .mid-wrapper .second-mid h2 {
    font-size: 23px;
  }
  .mid-wrapper .first-mid p, .mid-wrapper .second-mid p {
    font-size: 12px;
  }
  .main-wrapper .first-main {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .main-wrapper .first-main h4 {
    letter-spacing: 2px;
  }
  .main-wrapper .first-main .black-box {
    width: 70%;
    padding: 20% 0;
  }
  .form-wrapper .formapply .form-group input {
    width: 100%;
  }
  .form-wrapper .formapply .form-check label {
    margin-left: 0;
  }
  .form-wrapper .formapply .form-btn {
    width: 40%;
  }
  footer p {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0 5%;
  }
  footer p br {
    display: none;
  }
  footer h6 {
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 330px) {
  body {
    background-color: darkseagreen;
  }
  header .banner {
    width: 100%;
  }
  header .banner h1 {
    font-size: 26px;
  }
  header .banner p {
    line-height: 14px;
  }
  header .banner p br {
    display: none;
  }
  .big-wrapper .top-box h5 {
    letter-spacing: 3px;
    word-spacing: 0;
  }
  .big-wrapper .top-box h2 {
    font-size: 17px;
  }
  .big-wrapper .center-box .image {
    width: 85%;
  }
  .big-wrapper .center-box .demo {
    margin-top: 4%;
    width: 85%;
    padding: 3%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .big-wrapper .center-box .demo h3 {
    font-size: 17px;
    line-height: 23px;
    margin: 15px 0;
  }
  .big-wrapper .center-box .demo p {
    font-size: 12px;
  }
  .text-wrapper {
    width: 80%;
  }
  .text-wrapper h5 {
    margin-top: 15px;
    margin-bottom: 1%;
  }
  .text-wrapper h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px !important;
  }
  .text-wrapper .text {
    margin-top: 30px;
    padding: 2%;
  }
  .text-wrapper .btn {
    margin: 20px 0 10px 0;
  }
  .mid-wrapper {
    width: 100%;
  }
  .mid-wrapper .first-mid, .mid-wrapper .second-mid {
    width: 93%;
  }
  .mid-wrapper .first-mid h5, .mid-wrapper .second-mid h5 {
    letter-spacing: 3px;
  }
  .mid-wrapper .first-mid h2, .mid-wrapper .second-mid h2 {
    font-size: 19px !important;
    background-color: blueviolet;
  }
  .mid-wrapper .first-mid p br, .mid-wrapper .second-mid p br {
    display: none;
  }
  .main-wrapper .first-main h1 {
    font-size: 25px;
  }
  .main-wrapper .first-main h4 {
    font-size: 15px;
  }
  .main-wrapper .first-main .black-box {
    width: 80%;
  }
  .main-wrapper .first-main .black-box h4 {
    font-size: 13px;
  }
  .form-wrapper .formapply .form-group input ::-webkit-input-placeholder {
    color: red !important;
  }
  .form-wrapper .formapply .form-group input :-ms-input-placeholder {
    color: red !important;
  }
  .form-wrapper .formapply .form-group input ::-ms-input-placeholder {
    color: red !important;
  }
  .form-wrapper .formapply .form-group input ::placeholder {
    color: red !important;
  }
  .form-wrapper .formapply .form-check label {
    width: 100%;
    font-size: 13px;
    color: red;
  }
  .form-wrapper .formapply .form-check label span {
    margin-left: 11px;
  }
  .form-wrapper .formapply .form-btn {
    width: 70%;
    margin: 0 auto;
  }
  .form-wrapper .formapply .form-btn button {
    width: 80%;
    margin-top: 20px;
  }
  footer h6 {
    line-height: 18px;
  }
}

/* MEDIA-QUERY ENDS */
/*# sourceMappingURL=style.css.map */